{% macro display_blogs(blogs) %}
<div class="card-columns">
    {% if blogs %}
    {% for blog in blogs %}
    <div class="container">
        <div class="card">
            <div class="card-body" style="background-color:rgb(93, 212, 192)">
                <p>Author: {{blog.title}}</p>
                <p>Blog Post: {{blog.blog}}</p>
                {% for comment in comments %}
                <p><a href="{{url_for('main.comment',blog_id=comment.blog_id)}}">Comment</a></p>
                {%endfor%}
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
</div>
{% endmacro %}

{% macro display_comments(comments) %}
<div class="container">
</div>
<div class="card-columns">
    {% for comment in comments %}
    <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
            <p>{{comment.comment}}</p>
            <p class="text-center">{{comment.blog.title}}</p>
            <button style="background-color: #fff;border:1px solid #6184D8;color:#000;" type="button" class="btn btn-sm"
                data-toggle="modal" data-target="#deleteCommentModal"><i class="far fa-trash-alt"></i>&nbsp;Delete
                Comment</button>
        </div>
        <div class="modal fade" id="deleteCommentModal" tabindex="-1" role="dialog"
            aria-labelledby="deleteCommentModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteCommentModalLabel">Delete Comment?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Cancel">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <form action="{{url_for('main.delete_comment', id=comment.id)}}" method="POST">
                            <input type="submit" class="btn btn-danger" value="Delete">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
    {% endmacro %}